{{- if isset .Site.Params "cusdis" -}}
    {{- if and (isset .Site.Params.cusdis "data_app_id") (eq (.Params.disableComments | default false) false) -}}
        <div class="comments">
            <h4>{{ i18n "comments" }}</h4>
            <div id="cusdis_thread"
                 data-host="https://cusdis.com"
                 data-app-id="{{ .Site.Params.cusdis.data_app_id }}"
                 data-page-id="{{ .File.UniqueID }}"
                 data-page-url="{{ .Permalink }}"
                 data-page-title="{{ .Title }}"
                 data-theme="auto">
            </div>
            {{- if eq .Site.Language.Lang "pt-BR" -}}
            <script defer src="https://cusdis.com/js/widget/lang/pt-BR.js"></script>
            {{- end -}}
            <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
        </div>
    {{- end -}}
{{- end -}}

